.header {
    padding: 20px 20px 0 20px;
    background-color: #1E1E1E;
    color: white;
}

.heading > h1 {
    font-weight: 500;
    font-size: 2rem;
}

.heading:hover {
    color: antiquewhite;
}

.headerImg {
    max-width: 50px;
    height: auto;
}