.anime {
    max-height: 110px;
    height: max-content;
    background-color: rgb(85, 85, 85);
    box-shadow: 3px 1px 6px rgba(91, 91, 91, 0.47);
    border-radius: 0px 8px 8px 0px;
    display: flex;
    gap: 5px;
    padding: 5px;
}

.synopsis {
    color: gainsboro;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-height: 70px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}