.searchBar {
  max-width: 900px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background-color: #2b2b2b;
}

.searchBar input {
  border-radius: 0;
}

.searchCategory {
  padding: 2px;
  background: #141414;
  color: #9c9c9c;
  align-self: stretch;
  border: none;
}
