.page-container {
  position: relative;
  width: 100%;
  padding: 1rem;
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(800px, 100%) minmax(auto, 380px);
}

.side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.announcements-section,
.recent-section {
  border-radius: 8px 8px 0px 0px !important;
  background-color: #828282;
  color: black;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.announcements,
.recent-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

@media screen and (max-width: 1199px) {
  .page-container {
    grid-template-columns: 1fr;
  }
}
