.button {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 12px 8px;
  border: none;
  border-radius: 25px;
  background-color: #222222;
  color: #e3e3e3;
}

.button:hover {
  background-color: #444444b4;
}
