.auth-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.auth-form,
.verify-otp-form {
    width: 100%;
    max-width: 500px;
    font-family: 'Rubik', sans-serif;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.auth-form-link {
    color: burlywood;
}

.text-field input {
    color: whitesmoke;
}

.text-field label {
    color: gray;
}