.create-discussion-container {
    padding: 0.3rem;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.title-field {
    height: 2.3rem;
}

.label {
    font-family: "Ubuntu", sans-serif;
}

.create-btn {
    background-color: #1E1E1E;
}

.create-btn:hover {
    background-color: #313131;
}