.create-discussion-container {
  padding: 0.3rem;
  max-width: 600px;
  width: 100%;
  margin: 1rem auto 0;
  display: flex;
  flex-direction: column;
}

.title-field {
  height: 2.3rem;
}

.label {
  font-family: "Ubuntu", sans-serif;
}
