.container {
  max-width: 900px;
}

.title {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.creator {
  width: max-content;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 14px;
  color: #b5b5b5;
}

.creator a {
  font-weight: 500;
  color: #80884e;
}

.creator a:hover {
  color: #9da75f;
}

.body {
  color: gainsboro;
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 800px;
}
