.container {
    max-width: 1200px;
}

.title {
    font-family: 'Ubuntu', sans-serif;
}

.creator {
    color: antiquewhite;
    width: max-content;
    font-family: 'Roboto', sans-serif;
}

.creator a {
    color: #a37e5c;
}

.creator a:hover {
    text-decoration: underline;
}

.body {
    color: gainsboro;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    max-width: 800px;
}