html,
body,
body>div {
  height: 100vh;
}

* {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2B2B2B;
}

body>div::-webkit-scrollbar {
  width: 8px;
}

body>div::-webkit-scrollbar-track {
  background-color: rgb(79, 79, 79);
}

body>div::-webkit-scrollbar-thumb {
  background-color: #252525;
  border-bottom: 4px solid rgb(161, 161, 161);
  border-top: 4px solid rgb(161, 161, 161);
}

body>div {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.nav-link {
  color: whitesmoke;
  border: none;
}

.nav-link.active {
  background-color: #323232;
  color: white;
}

.nav-link:hover:not(.active) {
  color: grey;
}

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

button:disabled {
  cursor: not-allowed;
}

.form-helper-text {
  color: indianred;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.verify-otp-form {
  width: 100%;
  max-width: 500px;
  font-family: 'Rubik', sans-serif;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}